:host ::ng-deep {
  .custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    form {
      width: 100%;
      mat-form-field.custom-filter {
        max-width: 352px;

        .mdc-text-field--outlined {
          max-width: 352px;
          height: 40px;

          .mat-mdc-icon-button {
            padding: 0px;

            img {
              width: 18px;
              height: 18px;
            }
          }

          .mat-mdc-form-field-flex {
            .mat-mdc-form-field-infix {
              padding-top: 8px;
              padding-bottom: 8px;
            }

            .mdc-notched-outline {
              height: 45px;
              padding-top: 10px;
            }

            .mdc-notched-outline--no-label {
              height: 45px;
              padding-top: 10px;
            }

            .mdc-notched-outline__leading {
              border-color: #8b909a !important;
            }

            .mdc-notched-outline__notch {
              border-color: #8b909a !important;

              .mdc-floating-label {
                cursor: inherit;
                top: 16px;
              }
            }

            .mdc-notched-outline__trailing {
              border-color: #8b909a !important;
            }
          }

          .mat-mdc-form-field-flex
            .mat-mdc-form-field-infix
            .mdc-text-field__input {
            height: 40px;
            color: #8b909a;
          }

          .mdc-text-field--focused {
            .mdc-notched-outline__leading {
              border-color: #8b909a !important;
            }

            .mdc-notched-outline__notch {
              border-color: #8b909a !important;
            }

            .mdc-notched-outline__trailing {
              border-color: #8b909a !important;
            }
          }

          :focus-within .mdc-notched-outline,
          :focus-within .mdc-notched-outline__leading,
          :focus-within .mdc-notched-outline__trailing {
            border-color: #8b909a !important;
            border-width: 1px !important;
          }
        }
      }
    }

    .custom-button {
      max-width: 169px;
      width: 100%;
      padding: 10px;
    }
  }

  @media (max-width: 800px) {
    .custom-header {
      gap: 10px;

      mat-form-field.custom-filter {
        max-width: 200px !important;
      }
    }

    .custom-button {
      max-width: 100px !important;
    }
  }
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;

  .button-action {
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;
  }
}

.action-header {
  text-align: center;

  .mat-sort-header-container {
    display: inline-table;
  }
}

.action-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

td.emptyDataSourte {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  height: 100px;
  color: #f00;
}
