table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

td.emptyDataSourte {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  height: 100px;
  color: #f00;
}
