.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-sidenav.mat-drawer {
    background-color: white;
    width: 260px !important;
    padding: 0 14px;
    border-radius: 0;

    .header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;

      & > h1.app-name {
        margin-right: 25px;
        font-family: sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
      }
    }
  }

  .sidenav-container {
    flex: 1;

    mat-sidenav-content {
      padding-left: 16px;
      padding-right: 16px;
      display: flex;

      .menu-open {
        position: relative;
        width: 50px;
        padding-right: 10px;

        .mat-mdc-icon-button {
          position: absolute;
          top: 5px;
        }
      }
    }

    mat-nav-list {
      .mdc-list-item:focus,
      .mdc-list-item:hover {
        background-color: #f3f4f8 !important;
        border-radius: 4px !important;
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    .sidenav-container {
      mat-sidenav-content {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
  }
}
