<div class="container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <div class="header">
        <img src="icons/flow_store.svg" alt="Flow Store" />
        <h1 class="app-name">Flow Store</h1>
        <button mat-icon-button (click)="toggleSidenav()">
          <img src="icons/menu-close.svg" alt="Menu close" />
        </button>
      </div>
      <mat-nav-list>
        @for (nav of navRoute; track nav) {
        <a mat-list-item [routerLink]="nav.path" class="nav-item">
          <img [src]="'icons/' + nav.icon + '.svg'" [alt]="nav.icon" />
          {{ nav.title }}
        </a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="menu-open" *ngIf="!opened">
        <button mat-icon-button (click)="toggleSidenav()">
          <img src="icons/menu-open.svg" alt="Menu open" />
        </button>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
