<form class="form" [formGroup]="form" (ngSubmit)="registerProductForm()">
  <mat-form-field>
    <mat-label>Produto</mat-label>
    <input matInput formControlName="nome" />
    <mat-error *ngIf="form.get('nome')?.hasError('required')">
      El nome é obrigatório
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Fabricante</mat-label>
    <input
      type="text"
      matInput
      formControlName="fabricante"
      [matAutocomplete]="autoManufacturer"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #autoManufacturer="matAutocomplete"
      (optionSelected)="onManufacturerSelected($event.option.value)"
    >
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option.nome"
      >
        {{ option.nome }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.get('fabricante')?.hasError('required')">
      O fabricante é obrigatório
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Codigo de Barras</mat-label>
    <input matInput formControlName="codigoBarras" maxlength="14" />
    <mat-error *ngIf="form.get('codigoBarras')?.errors?.['invalidBarCode']">
      O código de barras deve ser um número de 8, 12, 13 ou 14 dígitos.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descrição</mat-label>
    <textarea matInput formControlName="descricao"></textarea>
    <mat-error *ngIf="form.get('descricao')?.hasError('required')">
      A descrição é obligatoria
    </mat-error>
  </mat-form-field>
  <div class="group-element">
    <button mat-button class="custom-button reset" (click)="form.reset()">
      CANCELAR
    </button>
    <button
      mat-button
      class="custom-button"
      type="submit"
      [disabled]="form.invalid"
    >
      {{ barCode === "new" ? "ADICIONAR" : "ATUALIZAR" }}
    </button>
  </div>
</form>
